gitpush.sh
covid_aargau_vacc_progress.py
covid_aargau_gemeinden.py
covid_national_vacc_progress.py
covid_cantons_vacc_progress.py
covid_national_richtwerte.py
covid_national_vacc_table.py
covid_national_vacc_weekly.py
covid_national_death_waves.py
covid_national_vacc_age.py
covid_national_hosp_vacc.py
covid_cantons_vacc_age.py
general_settings.py
